html {
  font-size: 14px;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-flex {
  display: flex;
  margin-top: 4dvh;
  font-size: 1.7rem;
  align-items: center;
  justify-content: center;
  height: 11dvh;
  width: 100%;
  border-top: 0.1rem solid #14ae5c;
  border-bottom: 0.1rem solid #14ae5c;
}

.title-flex h1 {
  font-weight: 500;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  flex: 1;
}

.login-form {
  border: 0.1rem solid #14ae5c;
  border-radius: 0.5rem;
  width: 70vw;
  padding: 2.4rem 1.9rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.15rem;
  text-align: left;
}

.form-group input {
  height: 2.1rem;
  font-size: 1.15rem;
  width: 95%;
  padding: 0.5rem;
  border: 0.1rem solid #cccccc;
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.login-button {
  background-color: #14ae5c;
  color: white;
  padding: 0.9rem 1.2rem;
  font-size: 1.15rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 90%;
  transition: opacity 0.3;
}

.login-button:hover {
  opacity: 0.9;
}

.login-button:active {
  opacity: 0.75;
}

.forgot-password {
  font-size: 1.05rem;
  margin-top: 0.9rem;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}
